@import './reset';

@import './variables/global';

@import './themes/dark';

@import './themes/light';

@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto:wght@400;500;700&display=swap';

* {
    // scroll
    // custom scroll
    &::-webkit-scrollbar {
      width: var(--scroll-size);
      height: var(--scroll-size);
    }
}

html,body{
    height: 100%;
}

body {
   font: var(--font-l);

   .app {
    background: var(--bg-color);
    color: var(--text-color);
   }
}