body.dark {
    --bg-color: #000;
    --primary-color: #90f;
    --text-color: #FFF;
    --secondary-color: #bc74ff;
  
    // --

    --great-color: #21b667;
    --medium-color: #c5b711;
    --bad-color: #c51111;
    --empty-color: #272727;
  }